.container {
    background-color: #000000;
    opacity: 0.9;
    border-radius: 12px;
    padding: 0.5rem 0 2rem;
}
form {
    margin: 0 auto;
    width: 90%;
    max-width: 35rem;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.nameinput {
    padding: 2rem 0.5rem 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.nameinput input {
    padding: 0.5rem;
    background-color: #ffffff4e;
    border-width: 2px;
    outline: none;
    border-style: none none solid none;
    border-width: 3px;
    border-color: white;
    transition: 0.3s; 
}

.nameinput input:focus {
    background-color: white;
}

.controls input {
    width: 100%;
    padding: 0.5rem;
    background-color: #ffffff4e;
    border-width: 2px;
    outline: none;
    border-style: none none solid none;
    border-width: 3px;
    border-color: white;
    margin: 0.5rem 0;
    transition: 0.3s;
    font-size: 15px;
}

.controls input:focus {
    background-color: white;
}

.controls.invalid input {
    background: #ff008c74;
    border-color: red;
    color: white;
}
.actions {
    display: flex;
    justify-content: center;
}

.button:nth-child(1) {
    background: #FF008B;
    outline-color: #FF008B;
    color: white;
}

.button:nth-child(1):hover {
    outline-offset: 6px;
    background: #ff55b3;
    outline-color: #ff55b3;
}

.button:nth-child(2) {
    background-color: transparent;
    color: white;
    outline-color: white;
}

.button:nth-child(2):hover {
    background: white;
    outline-offset: 6px;
    color: black;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #121212;
    outline-color: #ccc;
}

.button:disabled:hover {
    cursor: not-allowed;
    background-color: #ccc;
    color: #121212;
    outline-color: #ccc;
    outline-offset: 2px;
}

::placeholder {
    color: white;
}

input:focus::placeholder {
    color: #000000;
}

@media (max-width: 576px) {
    .nameinput {
        grid-template-columns: auto;
    }
}